{{posted_stuff}}
<h1>{{ stock.companyName }} ({{stock.symbol}}) </h1>
<br>
<br>

<strong>latest Price :</strong> {{ stock.latestPrice}}
<strong>Previous :</strong> {{ stock.previousClose}}
<strong>YTD change :</strong> {{ stock.ytdChange}}%
<strong>52wk  High :</strong> {{ stock.week52High}}
<strong>52wk Low :</strong> {{ stock.week52Low}}
<button type="button">Close!</button>

<!--
{{#each stock}} 
 {{@key}} |{{this}}<br/>
 {{/each}}
-->
